﻿body, html {
    font-family: 'Roboto';font-size: 20px;
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

li a {
    display: block;
    color: #0000FF;
    padding: 8px 40px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px green;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
video::-webkit-media-controls-fullscreen-button {
  display:none !important;
}
